body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
h1,h2,h3,h4,h5,h6,p,span{
    margin: 0;
    padding: 0;
}
h1{
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 79px;
}
p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
input,button{
    font-family: 'Inter', sans-serif;
}
.main{
    max-width: 1140px;
    width:95%;
    margin: 0 auto;
}
.section_padding{
    padding: 130px 0;
}
.section_heading{
    text-align: center;
}
.section_heading h2{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
    color: #121212;
    margin-bottom: 15px;
}
.section_heading p{
    color: #707070;
    max-width: 826px;
    margin: 0 auto;
}

/* hero css  */
.hero_area_design{
    background: url(images/donation2.jpg) no-repeat scroll 0 0 / cover;
    position: relative;
    z-index: 1;
    padding: 175px 0;
}
.hero_area_design:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
}
.hero_content{
    text-align: center;
    max-width: 826px;
    margin: 0 auto;
}
.hero_content h1{
    color: #FFF;
    margin-bottom: 20px;
}
.hero_content p{
    max-width: 691px;
    width: 100%;
    margin: 0 auto;
    color:#FFFFFF;
    margin-bottom:30px;
}
.hero_content a{
    width: 160px;
    height: 56px;
    background: #FF5959;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    transition: 0.3s;
}
.hero_content a:hover{
    opacity: 0.7;
}
.donate_content{
    margin: 0 auto;
    margin-top: 50px;
    max-width: 826px;
}
.donate_blance{
    display: flex;
    justify-content: space-between;
}
.donate_blance_single{
    width: 150px;
    height: 123px;
    background: #FAFAFA;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.donate_blance_single span{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #707070;
}
.donate_blance_single.active{
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
}
.donate_input{
    margin-top: 50px;
}
.single_donate_input input{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #B3B3B3;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #DADADA;
    width: 100%;
}
.single_donate_input input:focus{
    outline: none;
}
.single_donate_button button {
	width: 160px;
	height: 56px;
	background: #FF5959;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	text-decoration: none;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
	transition: 0.3s;
    border: none;
    margin-top:30px;
    cursor: pointer;
    transition: 0.3s;
}
.single_donate_button button:hover{
    opacity: 0.7;
}
.donate_plan_area{
    margin-top: 150px;
}
.donate_blog{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.donate_blog_single{
    padding: 50px 23px;
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
    max-width: 32%;
    box-sizing: border-box;
}
.icon img{
    width: auto;
    height: 53px;
    margin-bottom: 30px;
}
.donate_blog_single h3{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #121212;
    margin-bottom: 16px;
}
.donate_blog_single p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #707070;
}
.donate_blog_single:nth-child(2){
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
}
.donate_blog_single:last-child{
    background: #FFF4D6;
    border-radius: 5px;
}

.donation_update{
    margin-top: 130px;
}
.donation_form_area{
    max-width: 809px;
    background: #FFF4D6;
    width: 100%;
    margin: 0 auto;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.donation_get_update{
    width: 432px;
    height: 48px;
    background: #D9D9D9;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.donation_get_update .button button{
    width: 157px;
    height: 48px;
    background: #FF5959;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}
.donation_get_update .button button:hover{
    opacity: 0.7;
}
.donation_get_update input{
    width: 275px;
    height: 48px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding: 0px 20px;
    color: #AA9F9F;
}
.footer_area{
    padding: 43px 0;
    background: #0B0D17;
    overflow: hidden;
}
.footer_content{
    text-align: center;
}
.footer_content h2{
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.5px;
    color: #FF5959;
    margin-bottom: 24px;
}
.footer_content p{
    color: #FFF;
    font-size: 14px;
}
.goal_achive_area{
    margin-top: 150px;
}

.goal_content{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.goal_left {
	flex: 0 0 55%;
	max-width: 55%;
}
.goal_right{
	flex: 0 0 45%;
	max-width: 45%;
}
.goal_left h2{
    font-size: 45px;
    margin-bottom: 30px;
    line-height: normal;
    font-weight: 500;
}
.goal_left p{
    font-size: 16px;
}
.goal_right {
	display: flex;
    justify-content:flex-end;
}
.goal_single{
   margin: 0 20px;
}
.goal_single h1{
    font-size: 35px;
}
.goal_single img {
	width: 62px;
}